@media (max-width:1950px) {
    header {
        .header {
            &_main_container {
                &--bottom {
                    // display: flex;
                    // flex-direction: column;
                    // gap: 32px;
                    // max-width: 211px;
                    // padding: 35px 71px 30px 32px;
                    margin-bottom: 231px;
                    position: relative;

                    &--card {}
                }

                &--video {
                    width: 314px;
                    height: 191px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    margin-bottom: 40px;

                    &--video {
                        width: 314px;
                        height: 191px;

                    }

                    &--box {
                        &--play {}
                    }
                }
            }
        }
    }

}

@media (max-width:1800px) {
    .header {
        &--line {
            display: none;
        }
    }
}


@media (max-width:1300px) {
    header {
        .header {
            &_main_container {
                &--bottom {
                    display: flex;
                    flex-direction: column;
                    gap: 32px;
                    max-width: 211px;
                    padding: 35px 71px 30px 32px;
                    margin-bottom: 231px;
                    position: relative;

                }
            }
        }
    }


    main {
        .about_more_container--top--info {
            display: flex;
            flex-direction: column;
            gap: 33px;
            align-items: center;
            padding-top: 40px;

            &--box {
                width: 100%;
                max-width: 315px;
                display: flex;
                align-items: flex-start;
                flex-direction: column;

                &--title {
                    font-family: DM Sans;
                    font-weight: 700;
                    font-size: 40px;
                    line-height: 46px;
                    letter-spacing: 0%;
                    width: 294px;
                    color: #FFFFFF;
                }

                &--text {
                    font-family: DM Sans;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 0.5px;

                    color: #E0E0E0;
                    padding-top: 12px;
                    padding-bottom: 32px;
                }

                &--button {
                    width: 100%;
                    background-color: #DD2242;
                    border-radius: 32px;
                    font-family: DM Sans;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 150%;
                    letter-spacing: 0%;
                    text-align: center;
                    color: #FFFFFF;
                    padding: 16px 40px;
                }


            }

            &--img {
                width: 314px;
                height: 232px;
            }
        }

        .about_more_container--bottom--info {
            display: flex;
            flex-direction: column-reverse;
            gap: 33px;
            align-items: center;
            padding-bottom: 40px;

            &--box {
                width: 100%;
                max-width: 315px;
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                padding: 0;

                &--title {
                    font-family: DM Sans;
                    font-weight: 700;
                    font-size: 40px;
                    line-height: 46px;
                    letter-spacing: 0%;
                    width: 291px;
                    color: #FFFFFF;
                }

                &--text {
                    font-family: DM Sans;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 0.5px;

                    color: #E0E0E0;
                    padding-top: 12px;
                    padding-bottom: 32px;
                    width: 315px;
                }

                &--button {
                    width: 100%;
                    background-color: #DD2242;
                    border-radius: 32px;
                    font-family: DM Sans;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 150%;
                    letter-spacing: 0%;
                    text-align: center;
                    color: #FFFFFF;
                    padding: 16px 40px;
                }


            }

            &--img {
                width: 314px;
                height: 232px;
            }
        }
    }

    // .explore_slider--container{
    //     max-width: 358px;
    // }

    // .explore_slider--container--box{
    //     &--img1{
    //         display: none;
    //     }
    //     &--img2{
    //         width: 314px;
    //         height: 200px;
    //     }
    //     &--img3{
    //         display: none;
    //     }
    // }
}