.about {
    background-color: #010A20;

    &_more {

        &_container {

            &--top {
                background: linear-gradient(0deg, #010A20 0%, rgba(1, 10, 32, 0) 100%), url("./img/bg-top.png");
                background-repeat: no-repeat;
                background-size: cover;



                &--info {
                    width: 100%;
                    max-width: 1240px;
                    margin: 0 auto;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 130px;
                    padding-bottom: 97px;
                    padding-top: 207px;

                    &--box {
                        width: 100%;
                        max-width: 410px;
                        display: flex;
                        align-items: flex-start;
                        flex-direction: column;

                        &--title {
                            font-family: DM Sans;
                            font-weight: 700;
                            font-size: 42px;
                            line-height: 50px;
                            letter-spacing: 0px;
                            color: #FFFFFF;
                        }

                        &--text {
                            font-family: DM Sans;
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 28px;
                            letter-spacing: 1%;
                            color: #E0E0E0;
                            padding-top: 12px;
                            padding-bottom: 32px;
                        }

                        &--button {
                            background-color: #DD2242;
                            border-radius: 32px;
                            font-family: DM Sans;
                            font-weight: 700;
                            font-size: 18px;
                            line-height: 150%;
                            letter-spacing: 0%;
                            text-align: center;
                            color: #FFFFFF;
                            padding: 16px 40px;
                        }
                    }
                }
            }

            &--bottom {
                background: linear-gradient(180deg, #010A20 0%, rgba(1, 10, 32, 0) 100%), url("./img/bg-bottom.png");
                background-repeat: no-repeat;
                background-size: cover;

                &--info {
                    width: 100%;
                    max-width: 1240px;
                    margin: 0 auto;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 130px;
                    padding-top: 95px;
                    padding-bottom: 305px;

                    &--box {
                        width: 100%;
                        max-width: 480px;
                        display: flex;
                        align-items: flex-start;
                        flex-direction: column;
                        padding-left: 44px;

                        &--title {
                            font-family: DM Sans;
                            font-weight: 700;
                            font-size: 42px;
                            line-height: 50px;
                            letter-spacing: 0px;
                            color: #FFFFFF;
                        }

                        &--text {
                            font-family: DM Sans;
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 28px;
                            letter-spacing: 1%;
                            color: #E0E0E0;
                            padding-top: 12px;
                            padding-bottom: 32px;
                            width: 410px;
                        }

                        &--button {
                            background-color: #DD2242;
                            border-radius: 32px;
                            font-family: DM Sans;
                            font-weight: 700;
                            font-size: 18px;
                            line-height: 150%;
                            letter-spacing: 0%;
                            text-align: center;
                            color: #FFFFFF;
                            padding: 16px 40px;
                        }
                    }
                }
            }
        }
    }
}


.explore {
    background-image: url("./img/explore-bg.png");
    background-repeat: no-repeat;
    background-size: cover;

    &_slider {
        width: 100%;
        max-width: 1434px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 127px;
        padding-bottom: 886px;

        &--title {
            font-family: DM Sans;
            font-weight: 700;
            font-size: 50px;
            line-height: 150%;
            letter-spacing: 0%;
            text-align: center;
            vertical-align: middle;
            color: #010A20;
        }

        &--container {
            width: 100%;
            max-width: 1434px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &--box {
                width: 100%;
                max-width: 1277px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 45px;
                margin-bottom: 28px;
            }
        }
    }

    &_numbers {
        background-color: #020C21E6;

        &_container {
            width: 100%;
            max-width: 1277px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 201px;
            padding-bottom: 223px;

            &--title {
                font-family: DM Sans;
                font-weight: 700;
                font-size: 60px;
                line-height: 150%;
                letter-spacing: 0%;
                text-align: center;
                vertical-align: middle;
                color: #FFFFFF;
            }

            &--text {
                font-family: DM Sans;
                font-weight: 400;
                font-size: 18px;
                line-height: 28px;
                letter-spacing: 0.5px;
                text-align: center;
                color: #E0E0E0;
                padding-top: 37px;
                padding-bottom: 39px;
                width: 484px;
            }

            &--box {
                width: 100%;
                max-width: 1277px;
                display: flex;
                justify-content: space-between;

                &--card {
                    width: 100%;
                    max-width: 340px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 19px;

                    &:nth-child(2) {
                        max-width: 377px;
                    }

                    &--num {
                        font-family: DM Sans;
                        font-weight: 700;
                        font-size: 42.14px;
                        line-height: 49.16px;
                        letter-spacing: 0.39px;
                        text-align: center;
                        color: #DD2242;
                    }

                    &--text {
                        font-family: DM Sans;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 28px;
                        letter-spacing: 0.5px;
                        text-align: center;
                        color: #E0E0E0;
                    }
                }

            }
        }
    }
}


.learn {
    background-image: url("./img/learn-bg.png");
    background-repeat: no-repeat;
    background-size: cover;

    &_container {
        width: 100%;
        max-width: 614px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 248px;
        padding-bottom: 256px;

        &--title {
            font-family: DM Sans;
            font-weight: 700;
            font-size: 42px;
            line-height: 50px;
            letter-spacing: 0px;
            text-align: center;
        }

        &--text {
            font-family: DM Sans;
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
            letter-spacing: 0.5px;
            text-align: center;
            color: #6F7787;
            width: 470px;
            padding-top: 32px;
            padding-bottom: 36px;
        }

        &--button {
            font-family: DM Sans;
            font-weight: 700;
            font-size: 18px;
            line-height: 150%;
            letter-spacing: 0%;
            text-align: center;
            color: #FFFFFF;
            background-color: #DD2242;
            width: 100%;
            max-width: 211px;
            border-radius: 122px;
            padding: 18.5px 56px;
        }
    }
}



.life {
    background-color: #010A20;
    background-image: url("./img/life-bg.png");
    background-repeat: no-repeat;
    background-size: cover;

    &_container {
        width: 100%;
        max-width: 1214px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 141px;
        padding-bottom: 255px;

        &--title {
            font-family: DM Sans;
            font-weight: 700;
            font-size: 42px;
            line-height: 50px;
            letter-spacing: 0px;
            text-align: center;
            color: #FFFFFF;
            width: 950px;
        }

        &--play {
            padding-top: 106px;
            padding-bottom: 125px;
            position: relative;

            &--but {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        &--in {
            width: 100%;
            max-width: 1214px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &--card {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 41px;

                &:nth-child(1) {
                    width: 100%;
                    max-width: 610px;
                }

                &:nth-child(2) {
                    width: 100%;
                    max-width: 529px;
                }

                &--box {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    align-items: flex-start;

                    &:nth-child(1) {
                        width: 100%;
                        max-width: 336px;
                    }

                    &:nth-child(2) {
                        width: 100%;
                        max-width: 325px;
                    }

                    &--title {
                        font-family: DM Sans;
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 150%;
                        letter-spacing: 0%;
                        color: #FFFFFF;
                    }

                    &--text {
                        font-family: DM Sans;
                        font-weight: 400;
                        font-size: 17px;
                        line-height: 28px;
                        letter-spacing: 0.5px;
                        color: #FFFFFF;
                    }
                }
            }
        }
    }

}

.photo {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 177px;
    padding-bottom: 229px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &--title {
        font-family: DM Sans;
        font-weight: 700;
        font-size: 60px;
        line-height: 150%;
        letter-spacing: 0%;
        text-align: center;
        vertical-align: middle;
        color: #010A20;
    }

    &--text {
        font-family: DM Sans;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 1%;
        text-align: center;
        color: #6F7787;
        padding-top: 41px;
        padding-bottom: 71px;
        width: 511px;
    }
}

.gallery {
    display: grid;
    gap: 30px;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 210px 160px 160px 210px;
}

/* LEFT */
.big.left {
    grid-column: 1;
    grid-row: 1 / 4;
    /* 530 */
}

.small.left-bottom {
    grid-column: 1;
    grid-row: 4;
}

/* CENTER */
.small.center-top {
    grid-column: 2;
    grid-row: 1;
}

.big.center {
    grid-column: 2;
    grid-row: 2 / 5;
    /* 530 */
}

/* RIGHT */
.medium.m1 {
    grid-column: 3;
    grid-row: 1 / 3;
    /* 370 */
}

.medium.m2 {
    grid-column: 3;
    grid-row: 3 / 5;
    /* 370 */
}

/* IMAGES */
.gallery>div {
    border-radius: 18px;
    overflow: hidden;
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

#scrollTopBtn {
  position: fixed;
  bottom: 30px;
  right: 30px;

  width: 50px;
  height: 50px;
  border-radius: 50%;

  background: #e53935;
  color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateY(20px);
}

#scrollTopBtn.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

#scrollTopBtn:hover {
  background: #c62828;
}