.about {
    background-color: #010A20;
    height: 1624px;

    &_more {
        // background-image: url("./img/more-bg.png");
        // background-repeat: no-repeat;
        // background-size: cover;
        // height: 1624px;

        &_container {

            &--top {
                background: linear-gradient(0deg, #010A20 0%, rgba(1, 10, 32, 0) 100%), url("./img/bg-top.png");
                background-repeat: no-repeat;
                background-size: cover;



                &--info {
                    width: 100%;
                    max-width: 1240px;
                    margin: 0 auto;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 130px;
                    padding-bottom: 97px;
                    padding-top: 207px;

                    &--box {
                        width: 100%;
                        max-width: 410px;
                        display: flex;
                        align-items: flex-start;
                        flex-direction: column;

                        &--title {
                            font-family: DM Sans;
                            font-weight: 700;
                            font-size: 42px;
                            line-height: 50px;
                            letter-spacing: 0px;
                            color: #FFFFFF;
                        }

                        &--text {
                            font-family: DM Sans;
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 28px;
                            letter-spacing: 1%;
                            color: #E0E0E0;
                            padding-top: 12px;
                            padding-bottom: 32px;
                        }

                        &--button {
                            background-color: #DD2242;
                            border-radius: 32px;
                            font-family: DM Sans;
                            font-weight: 700;
                            font-size: 18px;
                            line-height: 150%;
                            letter-spacing: 0%;
                            text-align: center;
                            color: #FFFFFF;
                            padding: 16px 40px;
                        }
                    }
                }
            }

            &--bottom {
                background: linear-gradient(180deg, #010A20 0%, rgba(1, 10, 32, 0) 100%), url("./img/bg-bottom.png");
                background-repeat: no-repeat;
                background-size: cover;

                &--info {
                    width: 100%;
                    max-width: 1240px;
                    margin: 0 auto;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 130px;
                    padding-top: 95px;
                    padding-bottom: 305px;

                    &--box {
                        width: 100%;
                        max-width: 480px;
                        display: flex;
                        align-items: flex-start;
                        flex-direction: column;
                        padding-left: 44px;

                        &--title {
                            font-family: DM Sans;
                            font-weight: 700;
                            font-size: 42px;
                            line-height: 50px;
                            letter-spacing: 0px;
                            color: #FFFFFF;
                        }

                        &--text {
                            font-family: DM Sans;
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 28px;
                            letter-spacing: 1%;
                            color: #E0E0E0;
                            padding-top: 12px;
                            padding-bottom: 32px;
                            width: 410px;
                        }

                        &--button {
                            background-color: #DD2242;
                            border-radius: 32px;
                            font-family: DM Sans;
                            font-weight: 700;
                            font-size: 18px;
                            line-height: 150%;
                            letter-spacing: 0%;
                            text-align: center;
                            color: #FFFFFF;
                            padding: 16px 40px;
                        }
                    }
                }
            }
        }
    }
}




$bg: #eef3f7;
$dot: #bfcad3;
$active: #ff4d4d;

.slider {
  position: relative;
  max-width: 900px;
  margin: auto;

  .viewport {
    overflow: hidden;
  }

  .track {
    display: flex;
    transition: transform 0.4s ease;
  }

  .slide {
    width: calc(100% / 3);
    height: 250px;
    object-fit: cover;
  }

  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;

    &.left { left: -40px; }
    &.right { right: -40px; }
  }
}

.dots {
  display: flex;
  justify-content: center;
  margin-top: 12px;
  gap: 8px;

  .dot {
    width: 10px;
    height: 10px;
    background: #ccc;
    border-radius: 50%;

    &.active {
      background: red;
      width: 28px;
      border-radius: 20px;
    }
  }
}