// .about {
//     background-color: #010A20;
//     height: 1624px;

//     &_more {
//         background-image: url("./img/more2-bg.png");
//         background-repeat: no-repeat;
//         background-size: cover;
//         height: 1624px;
//         opacity: 10%;

//         &_container{
//             padding-top: 184px;
//             padding-bottom: 64px;

//             &--top{
//                 height: 580px;
//                 background: linear-gradient(180deg, #010A20 0%, rgba(1, 10, 32, 0) 100%);
//                 transform: rotate(180deg);
//             }

//             &--bottom{
//                 background: linear-gradient(180deg, #010A20 0%, rgba(1, 10, 32, 0) 100%);
//                 height: 807px;
//             }
//         }
//     }
// }